<div class="testimonial-card">
  <div class="rating">{{ "★" | repeat(rating) }}</div>
  <p>"{{ content }}"</p>
  <div class="testimonial-author">
    <img src="{{ photo }}" alt="{{ author }}" class="author-photo">
    <div>
      <h4>{{ author }}</h4>
      <p>{{ role }}</p>
    </div>
  </div>
</div>